src/main/mule/first.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9ebd30da-f135-42c6-b0c1-57c0b4e53ce5" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="401ee383-2c31-43b0-8494-ca0176d8b802" >
		<http:request-connection host="mu.mulesoft-training.com" port="80" />
	</http:request-config>
	<flow name="firstFlow" doc:id="633c35c5-0a92-4426-a2ba-f948c0d7b043" >
		<http:listener doc:name="Listener" doc:id="3f3a51c8-d8dd-4f16-bd22-fcd607504a98" config-ref="HTTP_Listener_config" path="/unitedAll"/>
		<logger level="INFO" doc:name="Request from" doc:id="2144c190-9e43-4581-8adc-f3a4ce40dd2c" message="request received from postman"/>
		<http:request method="GET" doc:name="Request" doc:id="4acf1036-2575-4531-b499-c386c4a09a71" config-ref="HTTP_Request_configuration" path="/essentials/united/flights"/>
		<logger level="INFO" doc:name="Logger" doc:id="e9b66b9c-0731-4855-9182-8d13715df358" message="requested from source.....#[payload]"/>
	</flow>
</mule>
