src/main/mule/sampleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="sampleprojectFlow" doc:id="bbcd93c7-eb1f-46eb-b4a1-cd67d81c37be" >
		<http:request method="GET" doc:name="Request" doc:id="b61f11c9-6350-4a0b-b99f-7f6d0e84bc28" config-ref="HTTP_Request_configuration" path="/essentials/united/flights/{to}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	to : attributes.queryParams.destination
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="9f123b53-652c-46d9-b77f-3caa8fba7b5b" message="final response.........#[payload]"/>
	</flow>
</mule>
